<app-header></app-header>
<div class="welcome-to-checkout">
    <div class="welcome-to-checkout__container">
        <div class="welcome-to-checkout__routes">
            <router-outlet></router-outlet>
        </div>
        <div class="welcome-to-checkout__basket">
            <h1>Basket ({{cartItems.length}} Items)</h1>
            <ul class="cart-items" *ngIf="cartItems">
                <li class="cart-items__item" *ngFor="let item of cartItems">
                    <img class="cart-items__basket-img" [src]="item.productImg">
                    <div class="cart-items__body">
                        <span class="cart-items__basket-title">{{item.productShortDesc}}</span>
                        <div class="cart-items__second-row">
                            <span class="cart-items__qty">Quantity: {{item.qty}}</span>
                            <span class="cart-items__price">{{item.productPrice}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="deliveryCharge | async as deliveryCost; else excludingDelivery">
                <div class="welcome-to-checkout__basket-total">
                    <span>Basket total</span> <span>${{totalItems}}</span>
                </div>
                <p class="welcome-to-checkout__delivery-charge">
                    <span>Delivery Charge</span> <span>{{deliveryCost | currency}}</span>
                </p>
                <p class="welcome-to-checkout__total-charge">
                    <span>Total</span> <span>{{(totalItems + deliveryCost) | currency}}</span>
                </p>
            </div>
            <ng-template #excludingDelivery>
                <div class="welcome-to-checkout__basket-total">
                    <span>Basket total</span> <span>${{totalItems}}</span>
                </div>
                <div>
                    (Excluding Delivery charge)
                </div>
            </ng-template>

        </div>
    </div>
</div>