<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__link-items">
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">about us</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">our store</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">faq</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">policy</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">shipping</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">contact</a>
      </li>
      <li class="footer__link-item">
        <a class="footer__link" routerLink="">blog</a>
      </li>
    </ul>
    <p class="footer__copyright">
      Copyright 2020 &copy; JULIET BEAUTIE
    </p>
  </div>
</footer>
