<ul class="product-categories">
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../body-butters">body butters</a>
  </li>
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../body-scrub">body scrub</a>
  </li>
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../body-oil">body oil</a>
  </li>
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../facial-oil">facial oil</a>
  </li>
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../facial-scrub">facial scrub</a>
  </li>
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../facial-toner">facial toner</a>
  </li>
  <!-- <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../lips">lips</a>
  </li> -->
  <li class="product-categories__item">
    <a class="product-categories__item-link" routerLinkActive="product-categories__item-link-active" routerLink="../facial-soap">facial soap</a>
  </li>
</ul>
