.product-item-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: thin solid red;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 6;
  }
  &__backdrop {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    box-sizing: border-box;
    z-index: 5;
  }
}
