<section class="cart">
    <ng-template #emptyCartMessage>
        <div class="cart__container">
            <div class="cart__empty-cart-message">
                <h1>Your Cart is Empty</h1>
                <div class="cart__continue-shopping-btn">
                    <a routerLink="/shop/all">Continue shopping</a>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="cart__container" *ngIf="(cartItems | async) && (cartItems | async).length; else emptyCartMessage">
        <div class="cart--mobile">
            <div class="cart__mobile-container">
                <div class="cart__mobile-total">
                    <span>Total (excluding delivery): </span> {{subTotal | async | currency}}
                </div>
                <div class="cart__mobile-checkout-container">
                    <button class="cart__checkout-btn" routerLink="/checkout">continue to checkout</button>
                </div>
            </div>

        </div>
        <div class="cart__sub-container">
            <div class="cart__items">
                <ul class="cart__items">
                    <li class="cart__item" *ngFor="let cartItem of items | async">
                        <app-cart-item (updateCartQty)="updateCartQty($event)" (removeCartItem)="removeItem($event)"
                            [cartItem]="cartItem"></app-cart-item>
                    </li>
                </ul>
                <div class="cart--desktop cart__continue-shopping-btn">
                    <a routerLink="/shop/all">Continue shopping</a>
                </div>
            </div>

            <div class="cart__shipping">
                <h1 class="cart__shipping-header">Summary</h1>
                <div class="cart__shipping-info">
                    <span>Spend a total of {{30 | currency}} to qualify for FREE Delivery in Ukraine</span>
                </div>
                <p class="cart__shipping-info">
                    <span>Total (excluding delivery)</span> <span>{{subTotal | async | currency}}</span>
                </p>
                <p>
                    <button class="cart__checkout-btn" routerLink="/checkout">continue to checkout</button>
                </p>
                <p>
                    <i class="cart__payment-icon fab fa-cc-visa"></i>
                    <i class="cart__payment-icon fab fa-cc-paypal"></i>
                    <i class="cart__payment-icon fab fa-cc-mastercard"></i>
                    <i class="cart__payment-icon fab fa-cc-westernunion"></i>
                </p>
            </div>
        </div>
        <div class="cart--mobile">
            <div class="cart__shipping-info-mobile">
                <span>Spend a total of {{30 | currency}} to qualify for FREE Delivery in Ukraine</span>
            </div>
            <div class="cart__continue-shopping-btn">
                <a routerLink="/shop/all">Continue shopping</a>
            </div>
            <div class="cart__mobile-container">
                <div class="cart__mobile-total">
                    <span>Total (excluding delivery): </span> {{subTotal | async | currency}}
                </div>
                <div class="cart__mobile-checkout-container">
                    <button class="cart__checkout-btn" routerLink="/checkout">continue to checkout</button>
                    <p>
                        <i class="cart__payment-icon fab fa-cc-visa"></i>
                        <i class="cart__payment-icon fab fa-cc-paypal"></i>
                        <i class="cart__payment-icon fab fa-cc-mastercard"></i>
                        <i class="cart__payment-icon fab fa-cc-westernunion"></i>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>