<h1>Related products</h1>
<div class="product-recommendations">
    <ul class="product-recommendations__items">
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
        <li class="product-recommendations__item">
            <app-product-item [product]="product"></app-product-item>
        </li>
    </ul>
</div>