<section class="what-we-do">
  <div class="what-we-do__container container">
    <header class="what-we-do__header">
      <h2 class="what-we-do__heading">what we do</h2>
    </header>
    <ul class="what-we-do__items">
      <li class="what-we-do__item">
        <app-what-we-do-item>
          <h2 class="what-we-do__item-header">handmade products</h2>
          <p class="what-we-do__item-body">
            We create healthy bath and body products in small
            batches to ensure quality and freshness
          </p>
          <button routerLink="" class="what-we-do__ctas">Learn More</button>
        </app-what-we-do-item>
      </li>
      <li class="what-we-do__item">
        <app-what-we-do-item>
          <h2 class="what-we-do__item-header">great customer service</h2>
          <p class="what-we-do__item-body">
            Finding companies that genuinely care about their customers is hard these days. We are for you
          </p>
          <button routerLink="" class="what-we-do__ctas">Learn More</button>
        </app-what-we-do-item>
      </li>
    </ul>
  </div>
</section>
