.header {

    border-bottom: 1px solid #d8d8d8;
    &__logo {
        max-height: 100px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__secure-checkout {
        display: flex;
        width: 180px;
        align-items: center;
        justify-content: space-between;
        color: #999;
        &-icon {
            border: thin solid #999;
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #999;
        }
    }
}

@media screen and (max-width: 513px) {
    .header {
        &__logo {
            width: 70%;
            min-width: 150px;
        }
        &__secure-checkout {
            width: 300px;
            justify-content: flex-end;
            &-icon {
                display: none;
            }
        }
    }
}