<nav class="top-header">
  <div class="container top-header__container">
    <span class="top-header__hot-line-number">hot line: +380 68 246 0120</span>
    <ul class="top-header__nav-items">
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">About Us</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Our store</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">FAQ</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Policy</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Shipping</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Contact</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Blog</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="">Newsletter</a>
      </li>
    </ul>
  </div>
</nav>
