<nav class="top-header">
  <div class="container top-header__container">
    <span class="top-header__hot-line-number">hot line: +380 68 246 0120</span>
    <ul class="top-header__nav-items">
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="/policy">Policy</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="/shipping">Shipping</a>
      </li>
      <li class="top-header__nav-item">
        <a class="top-header__nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
