.contact-info {
    &__form {
        width: 90%;
    }
    &__phone {
        display: flex;
        input {
            margin-left: 5px;
            flex: 0.7;
        }
    }
    &__proceed-btn {
        height: 40px;
        width: 100%;
        margin-top: 40px;
        background-color: #000;
        color: #fff;
    }
    margin-bottom: 50px;
}