.product-items {
  &__items {
    margin: 0 auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    list-style-type: none;
    margin: 0;
    width: 100%;
  }
}
