<div class="cart-item">
    <div class="cart-item__container">
        <!-- <i class="far fa-times-circle" ></i> -->
        <img class="cart-item__img" [src]="cartItem.productImg">
        <div class="cart-item__content">
            <div class="cart-item__content-container">
                <div class="cart-item__content-item">
                    <span class="cart-item__title">{{cartItem.productShortDesc}}</span>
                    <button class="cart-item__remove-item" (click)="removeItem()">Remove item</button>
                </div>
                <div class="cart-item__content-item">
                    <span>Currently in stock online</span>
                </div>
                <div class="cart-item__qty-controller">
                    <h1 class='cart-item__qty-controller-header'>Quantity</h1>
                    <div class="cart-item__qty-controller-body">
                        <app-qty-selector (qtyChanged)="updateQty($event, cartItem)" class="cart-item__qty"
                            [qty]="cartItem.qty">
                        </app-qty-selector>
                        <span class="cart-item__sub-total">{{+cartItem.productPrice * cartItem.qty | currency}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>