.cart-item {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
    &__container {
        display: flex;
        align-items: flex-start;
    }
    &__img {
        max-width: 60px;
        margin-left: 5px;
    }
    &__content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__remove-item {
        border: none;
        text-decoration: underline;
        background-color: #fff;
        cursor: pointer;
        min-width: 92px;
    }
    &__content-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px
    }
    &__qty-controller {
        display: flex;
        flex-direction:column;
        &-header {
            margin: 0 0 15px;
            font-size: 1em;
            font-weight: 600;
        }
        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__content {
        display: flex;
        margin-left: 10px;
        width: 100%;
    }
    &__title {
        text-transform: capitalize;
        max-width: 240px;
    }
    &__price {
        margin-left: 15px;
        font-weight: bold;
    }
    &__sub-total {
        margin-left: 15px;
    }
}