<app-top-header></app-top-header>
<app-main-header></app-main-header>
<section class="about-us">
  <h1 class="about-us__header">About Us</h1>
  <p class="about-us__body">
    If struggling with Eczema wasn't enough, coupled that with the fact that store bought products never worked for
    me....ever. The solution was simple: create.
    Our Whipped Body Butters were created with a need to tame troubled, problematic skin. Be on the look out for new
    products as we build our catalog! We're so happy to have you here.
  </p>
</section>
<app-footer></app-footer>
